<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css"/>-->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/webjars/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="js/frontend.js"></script>
</head>
<body>
<div ng-app="frontend">
    <div class="container" ng-controller="moviesController">
        <div class="row">
            <div class="col-md-3">
                <b>Title</b>
            </div>
            <div class="col-md-2">
                <b>Genre</b><br>
                <select ng-model="genre" ng-options="genre.name for genre in genres"></select>
            </div>
            <div class="col-md-3">
                <b>Writer</b><br>
                <select ng-model="writer" ng-options="writer.name for writer in writers"></select>
            </div>
            <div class="col-md-2">
                <b>Country</b><br>
                <select ng-model="country" ng-options="country.name for country in countries"></select>
            </div>
            <div class="col-md-2">
                <b>Year</b>
            </div>
        </div>
        <div class="row">
        </div>
        <div ng-repeat="movie in movies | filter:filter" ng-click="select(movie)">
            <div class="row">
                <div class="col-md-3">
                    {{movie.Title}}
                </div>
                <div class="col-md-2">
                    {{movie.Genre}}
                </div>
                <div class="col-md-3">
                    {{movie.Writer}}
                </div>
                <div class="col-md-2">
                    {{movie.Country}}
                </div>
                <div class="col-md-2">
                    {{movie.Year}}
                </div>
            </div>
            <div class="row" ng-if="movie.selected">
                <div class="col-md-1">
                </div>
                <div class="well col-md-11">
                    Rated: {{movie.Rated}}<br>
                    Released: {{movie.Released}}<br>
                    Runtime: {{movie.Runtime}}<br>
                    Actors: {{movie.Actors}}<br>
                    Plot: {{movie.Plot}}<br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>